.gameTitle {
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  justify-content: center;
}
  

body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Sigmar', cursive;;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  font-size: 38px;
  text-decoration: none;
}
.instructions {
  color: #55148b
}

#board {
  display: grid;
  grid-template-columns: repeat(5, 15vmin);
  grid-template-rows: repeat(4, 15vmin);
  gap: 1vmin;
  margin-top: -4vmin;
  border: 7px solid pink;
  background-color: aqua;
  
  
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card {
  transform: rotateY(0);
  transition: 0.5s;
  background: linear-gradient(to bottom, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
  box-shadow: 5px 5px 24px -3px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-top: 15px;
  cursor: pointer;
}

.flipCard {
  /* transform: rotateY(180deg); */
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.card.front {
display: flex;
justify-content: center;
align-items: center;
}
.back {
  
 

}
.boardContainer {
 display: grid;
 justify-content: center;
}

.boardBox {
  
}

#restartButton {
  width: 100px;
  font-family: 'Roboto', sans-serif;
  font-family: 'Sigmar', cursive;;
}
.boardTools {
display: flex;
flex-direction: row; 
align-items: center;
justify-content: space-between;
}
