.gameTitle {
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  justify-content: center;
  margin-bottom: -7px;
  color: rgb(207, 54, 54);
}
  
body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Sigmar', cursive;;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/emojis/barn-farm-field_1308-68369.avif);
  background-repeat: no-repeat;
  background-size: 100%;
}

a {
  font-size: 38px;
  text-decoration: none;
  color: rgb(207, 54, 54);
}

.instructions {
  color: rgb(207, 54, 54)
}

#board {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, 17vmin);
  grid-template-rows: repeat(4, 17vmin);
  gap: 1vmin;
  margin-top: 5px;
  border: 1vmin solid rgb(207, 54, 54);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-wrapper {
  transform: rotateY(0);
  transition: 0.5s;
  background: linear-gradient(to bottom, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
  box-shadow: 5px 5px 24px -3px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  cursor: pointer;
  height: 125px;
  padding: 8px;
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  height: 80%;
  width: 80%;
}

.card.front {
display: flex;
justify-content: center;
align-items: center;
}

.back {
  height: 80%;
}

.imageName {
  height: 10%;
  color: white;
  font-size: 14px;
  position: absolute;
  bottom: 0;
}
.boardContainer {
 display: grid;
 justify-content: center;
}

#restartButton {
  width: 100px;
  font-family: 'Roboto', sans-serif;
  font-family: 'Sigmar', cursive;;
  color: rgb(207, 54, 54);
}
.boardTools {
display: flex;
flex-direction: row; 
align-items: center;
justify-content: space-between;
color: rgb(207, 54, 54);
font-size: 20px;
}

.bodyOne {
background-image: url(images/emojis/barn-farm-field_1308-68369.avif);
}